# Track the time a command takes to execute.
function preexec() {
  timer=${timer:-$SECONDS}
}


# Add a timer to the right of each command prompt that indicates how long the
# execution of the last command took.
function precmd() {
  if [ $timer ]; then
    timer_show=$(($SECONDS - $timer))
    export RPROMPT="%F{cyan}${timer_show}s %{$reset_color%}"
    unset timer
  fi
}


# Display the details of http status codes.
http() { curl http://httpcode.info/$1; }


# Process git completions faster
# http://stackoverflow.com/a/9810485/1665
__git_files () {
  _wanted files expl "local files" _files
}


# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}
