#
# Stupid stuff
#

# Folder view config files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Stuff that sometimes shows up on external disks
.Spotlight-V100
.Trashes

 
# 
# Developer environment stuff
# 


# Vagrant configuration file
.vagrant

# IDE files
*.sublime-*
.idea
.vscode

# Common runtime stuff
.sass-cache/
node_modules/
logs/
*.log

# All project-centric rc files.
# By my own convention, these files usually contain sensitive information.
.*rc

# Compiled files and archives
*.pyc
*.tar
*.tar.gz
*.tar.bz2
